<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio soluta saepe incidunt nulla, neque illum, vitae voluptate minus consequatur facere exercitationem, labore quibusdam assumenda. Rem, vitae minus? Dolor et necessitatibus dolorum, hic voluptatem libero harum nobis vel, repellat adipisci cupiditate sed blanditiis vero. Enim, voluptate vitae itaque nesciunt laudantium facere labore aliquam aliquid consequatur expedita omnis dolores, doloribus assumenda consectetur! Non incidunt accusantium doloribus consequatur natus distinctio voluptas sunt odio voluptates quo dicta iure suscipit expedita eum quas deserunt alias quae eaque nobis nemo, accusamus molestias asperiores quis! Commodi, cumque. Ut unde fuga similique maiores facere harum sed, tempora nobis?</p>
        </section>
    </main>
    <%- include('partials/footer') %>

    
</body>
</html>